/* src/components/Playlist/Playlist.css */
.Playlist {
  width: 80%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(2, 2, 2, 0.4);
  border-radius: 10px;
  color: white;
  max-height: 425px;
  min-height: 300px;
  overflow-y: auto;
}

/* Custom Scrollbar for Playlist */
.Playlist::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.Playlist::-webkit-scrollbar-thumb {
  background-color: darkmagenta; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners */
}

.Playlist::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent background */
}

.Playlist #button {
  background-color: rgba(111, 44, 139, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 auto;
  width: 165px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.playlist-header input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.playlist-header button {
  background-color: darkmagenta;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-tracks {
  max-height: 345px; /* Adjust to fit within the max-height of the Playlist component */
  overflow-y: auto;
}

/* Custom Scrollbar for Playlist Tracks */
.playlist-tracks::-webkit-scrollbar {
  width: 8px;
}

.playlist-tracks::-webkit-scrollbar-thumb {
  background-color: darkmagenta;
  border-radius: 10px;
}

.playlist-tracks::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Playlist Heading (similar to Search Results heading) */
.Playlist h2 {
  font-size: 25px;
}

.Playlist input {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit; /* This ensures the text color matches the parent's color */
  font-size: inherit; /* This ensures the font size matches the parent's font size */
  font-family: inherit; /* This ensures the font family matches the parent's font family */
  width: 100%; /* Adjust width as needed */
  padding-top: 20.5px; /* Remove padding if needed */
  padding-bottom: 20.5px;
  font-size: 25px;
  font-weight: 550;
}
